<body style="background-image: linear-gradient(red, cyan, brown);">
	<header 
	style="color:grey;
	text-align: center; 
	background-size: 150px; 
	background-color: grey; 
	padding-bottom: 50px; 
	margin-left: 40px;
	margin-right: 40px;"
	>
		
			
		<section>
			<div>
				<h1 style="color: black; position: center padding-left: 20px">
					Take a tour with us &#128540
				</h1>
			</div>
			<nav id="nav1">
				
				<li style="text-decoration: none;"> 
					<a href="registration"  style="text-decoration: none; color: white;"> Create an account</a>
				</li>
				<li style="text-decoration: none;">
					<a href="/" style="text-decoration: none; color: white;">About us</a>
				</li>
				<li style="text-decoration: none;">
					<a href="/" style="text-decoration: none; color: white;">Contact us</a>
				</li>
				
			</nav>
			<style type="text/css">
				#nav1{


				}


			</style>
		</section>
	</header>


	
	

</body>